/* shared design*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    cursor: pointer;

}
.section-heading{
      max-width: 827px;
      text-align: center;
      margin: 0 auto;

}
.section-heading h2{
    font-weight: 35px;
    margin-bottom: 30px;    
}
.section-heading p{
    font-weight: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
/*main design*/
.logo h2{
    font-size: 45px;
    font-size: 900;
}
.color-orange{
    color: #e56c15;
    }
header{
    background-color:#ecc7ad;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png) hsl(24, 51%, 87%);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
      width: 71%;
      max-width: 1140px;
      /*border: 1px solid red;*/
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /*
    margin: top,right,bottom,left*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 55vh;
   
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
     
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    margin-top: 100px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}
#banner .banner-image img{

    max-width: 584px;
    vertical-align: middle;
    position: absolute;
    right: 38px;
    bottom: 0;
    height: 100%;   
}

#about{

    padding-top: 130px;
}
#about .about-content{

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}
 .about-info .info-card p{
    font-weight: 18px;
    font-weight: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills{
    padding-top: 130px;  
}
#skills .skills-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
}
#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;   
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #c2bbbb;
}
.skill-card img{
max-width: 44px;
margin-bottom: 30px;
}
.skill-card h3{
    margin-bottom:20px ;
    font-weight: bold;
    color: #181818;
    font-size: 20px;
}
.skill-card p{
    max-width: 201px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume{
    padding-top: 130px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{

    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
    margin-top: 30px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card p{
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #757575;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0; 
}
footer .footer-container{
    display: flex;
    gap: 116px;
    width: 71%;
    max-width: 1140px; 
    margin: 0 auto;
}
.footer-container  h2{
    font-size: 35px;
    color: #181818;
    padding-top: 139.5px;
    margin-bottom: 30px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-top: 20px;
}
.footer-container .icons a{ 
    margin-right: 24px;  
}
.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

